# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

fastapi_project/venv/
fastapi_project/__pycache__/
fastapi_project/main.pyc
fastapi_project/main.pyo
fastapi_project/main.pyd
fastapi_project/main.pyw
fastapi_project/main.pyz
fastapi_project/main.pywz
fastapi_project/main.pyz